a{
    text-decoration: none;
}
#nav1 h1{
    width: 100%;
    font-size:85%;
}
.nav-item .nav-link{
    font-weight: bolder;
    border-bottom:1px solid white;
}
.navbar-nav .nav-item .nav-link{
    color:white;
}
.navbar-nav .nav-item:hover .nav-link {
    background-color: white;
    color: #007bff;
}
#contact span{
    background-color: #007bff;
    color: white;
    border:1px solid darkblue;
    width:75%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 12px;
}
#contact a{
    color:white;
    margin-left: 5px;
    font-weight: 500;
}

#contact span:hover{
    font-weight: bolder;
    border: 3px solid rgb(203, 203, 233);
    
}
#contact a:hover{
    color:rgb(203, 203, 233);
}
h4{
    font-size: 90%;
}
#services{
    margin-right: auto;
    margin-left: auto;
}
.blink {
    animation: blink 0.5s steps(1, end) infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
footer{
    height: 110%;
}  
#footerc{
    width:100%;
}    
hr{
    width: 80%;
    border-top: 1px solid white;
}
.mm{
    margin-right: auto;
    margin-left: 14.5%;
}